<h2>Crear Película</h2>

@if (cinessNoSeleccionados) {
    <app-mostrar-errores [errores]="errores"></app-mostrar-errores>
    <app-formulario-peliculas (posteoFormulario)="guardarCambios($event)" [generosNoSeleccionados]="generosNoSeleccionados"
    [generosSeleccionados]="generosSeleccionados" [cinesNoSeleccionados]="cinessNoSeleccionados" [cinesSeleccionados]="cinesSeleccionados"
    [actoresSeleccionados]="actoresSeleccionados"></app-formulario-peliculas>
} @else {
    <app-cargando></app-cargando>
}

